// Checkbox and radio buttons
// Usage:
// <div class="input-wrap">
//     <input type="checkbox" id="checkbox">
//     <label for="checkbox">Label</label>
// </div>

.input-wrap {
    // This can class name change, but all checkboxes/radios + labels
    // need a `position: relative` parent
    position: relative;
}

input[type=radio],
input[type=checkbox] {
    // Hide original checkboxes
    position: absolute;
    left: 0;
    top: 50%;
    @include transform(translateY(-50%));
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
    & + label {
        padding-left: 24px; // Change to move label over
    }
}

input[type=checkbox] {
    & + label:before {
        // Style base
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px; // Change to vertically align input to label
        width: 16px;
        height: 16px;
    }
    & + label:before {
        // Unchecked state
        border: 1px solid black;
        background: white;
    }
    &:checked + label:before {
        // Checked state
        background: blue;
    }
}

input[type=radio] {
    & + label:before {
        // Style base
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px; // Change to vertically align input to label
        width: 16px;
        height: 16px;
    }
    & + label:before {
        // Unchecked state
        border: 1px solid black;
        border-radius: 100%;
    }
    &:checked + label:before {
        // Checked state
        background: blue;
    }
}
