{% extends 'base.html' %}

{% block content %}
<h1>Confirm Password Reset</h1>
<form method="POST" action=".">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
</form>
{% endblock content %}
